/* الهواتف الصغيرة */
@media (max-width: 480px) {
    body {
        background-color: lightblue;
    }
}

/* الهواتف المتوسطة */
@media (min-width: 481px) and (max-width: 768px) {
    body {
        background-color: lightgreen;
    }
}

/* الأجهزة اللوحية */
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        background-color: lightcoral;
    }
}

/* الشاشات العريضة (لابتوب أو ديسكتوب) */
@media (min-width: 1025px) and (max-width: 1200px) {
    body {
        background-color: lightgoldenrodyellow;
    }
}

/* الشاشات الكبيرة جدًا */
@media (min-width: 1201px) {
    * {
        margin: 0;
        padding: 0;
        font-family: "Noto Kufi Arabic", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: normal;
    }

    /* header start */

    nav {
        position: fixed;
        z-index: 99999999;
        width: 100%;
        background-color: #444444;
    }

    .nav-content {
        width: 1250px;
        height: 60px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-1,
    .nav-2,
    .nav-1-1,
    .sign-in-buttom,
    .sign-up-buttom {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .fa-bars {
        margin: 20px 0px 20px 10px;
        padding: 15px;
        color: white;
        font-size: 25px;
        cursor: pointer;

        &:hover {
            background-color: #888888;
        }
    }

    .nav-1-1 {
        margin: 20px;
        color: white;
        font-size: 15px;
        cursor: pointer;
        padding: 12px;

        &:hover {
            background-color: #888888;
        }
    }

    .fa-cubes {
        margin: auto 10px auto 10px;
        cursor: pointer;
    }

    .fa-magnifying-glass,
    .fa-cart-shopping {
        padding: 18px;
        color: white;
        font-size: 15px;
        cursor: pointer;
        margin: 3px;

        &:hover {
            background-color: #888888;
        }
    }

    .sign-in-buttom,
    .sign-up-buttom {
        margin: 10px;
        padding: 6px;
        color: white;
        font-size: 15px;
        border: 1px solid white;
        cursor: pointer;

        &:hover {
            background-color: #888888;
        }
    }

    .fa-right-to-bracket,
    .fa-user-plus {
        margin: 4px;
    }

    main {
        height: 600px;
        background-image: url(hero-33cc6eb8f1a98f8aacf154a4ff4c5f76d5610553e8ba4accb6d22515a64a184a.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .main {
        margin: auto;
        padding: 160px 250px 150px 250px;
        text-align: center;
        align-items: center;
    }

    h1 {
        font-size: 40px;
        font-weight: 300;
    }

    .p-main {
        margin: 20px;
        font-size: 15px;
        font-weight: 300;
    }

    .main-txt1 {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .main-search-bar {
        background-color: #fff;
        border: 1px solid rgb(190, 190, 190);
        width: 750px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }

    .input-type-txt {
        margin: 5px 10px;
        padding: 15px 5px 15px 350px;

        border: none;
    }

    input[type="text"] {
        border: none;
    }

    input[type="text"]:focus {
        outline: none;
    }

    .main-srch-btn {
        background-color: #52b035;
        border: 1px solid #52b035;
        margin: 5px;
        padding: 12px 26px;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            background-color: #579c43;
            border: 1px solid #579c43;
            color: white;
        }
    }

    .main-txt1 {
        width: 750px;
        margin: 10px auto;
    }

    .main-1,
    .main-2 {
        padding-left: 10px;
    }

    .main-2 {
        margin: 3px;
        padding: 5px;
        border: 1px solid rgb(207, 204, 204);
        background-color: #fff;
        cursor: pointer;

        &:hover {
            background-color: #52b035;
            border: 1px solid #52b035;
            color: white;
        }
    }

    /* header end */

    /* start of section 1 */
    .sec-1 {
        width: 1200px;
        height: 660px;
        margin: 10px auto 100px auto;
    }

    .sec-1-1 h2 {
        width: 1200px;
        text-align: center;
        margin: 120px auto 15px auto;
        font-weight: 400;
        font-size: 27px;
    }

    .sec-1-2 {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .sec-1-2-1 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 10px 5px;
        cursor: pointer;
    }

    .sec-1-2-1 img {
        position: relative;
        z-index: -1;
        width: 270px;
        height: 180px;
        filter: brightness(50%);
    }

    .sec-1-2-1 h3 {
        position: absolute;
        color: white;
        font-weight: 400;
        font-size: 22px;
    }

    /* end of section 1 */

    /* start of section 2 */
    .sec-2 {
        width: 100%;
        height: 450px;
        margin: auto;
        padding: 50px 0px 0px 0px;
        background-color: #F1F1F1;
    }

    .sec-2-2 {
        width: 1200px;
        display: flex;
        margin: auto;
        flex-wrap: wrap;
    }

    .sec-2-2-1 {
        width: 235px;
        display: flex;
        align-items: center;
        justify-content: start;
        border: 1px solid white;
        background-color: #fff;
        margin: 10px;
        padding: 20px;
        cursor: pointer;
    }

    .sec-2-1 h2 {
        width: 1200px;
        margin: 50px auto 20px auto;
        text-align: center;
        font-size: 30px;
        font-weight: 400;
    }

    .sec-2-2-1 img {
        width: 40px;
    }

    .sec-2-2-1 h3 {
        margin-right: 5px;
        font-size: 13px;
        font-weight: 400;
    }

    /* end of section 2 */

    /* start of section 3 */
    .sec-3 {
        width: 1200px;
        margin: 100px auto;
    }

    .sec-3-1 {
        margin: 20px auto 30px auto;
        text-align: center;
    }

    .sec-3-1 h2 {
        font-weight: 400;
        margin-bottom: 10px;
    }

    .sec-3-2 {
        width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sec-3-2-1-txt,
    .sec-3-2-1-txt p {
        width: 560px;
        margin: 15px;
    }

    .sec-3-2-1-txt-h {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .sec-3-2-1-txt-h .fa-circle-check {
        margin-left: 10px;
        color: #579c43;
        font-size: 20px;
    }

    .sec-3-2-1-txt h3 {
        font-size: 17px;
        font-weight: 400;
    }

    .sec-3-2-1-txt p {
        font-size: 14px;
    }

    .sec-3-2-2 iframe {
        box-shadow: #f7f7f7 0px 5px 5px 5px;
    }

    /* end of section 3 */

    /* start of section 4 */

    .sec-4 {
        width: 100%;
        height: 650px;
        margin: 0px auto;
        padding: 2px 0px;
        background-color: #F1F1F1;
        text-align: center;
    }

    .sec-4-cont {
        width: 1200px;
        margin: auto;
        padding: 20px auto;
    }

    .sec-4-1 {
        width: 1200px;
        height: 80px;
        margin: 80px auto 30px auto;
    }

    .sec-4-1 h2 {
        width: 1200px;
        font-size: 25px;
        font-weight: 400;
    }

    .sec-4-2 {
        width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .sec-4-2-content {
        width: 350px;
    }

    .sec-4-2-content img {
        width: 70px;
        padding-top: 10px;
    }

    .sec-4-2-content h3 {
        font-size: 20px;
        font-weight: 300px;
        padding: 5px;
    }

    .sec-4-2-content p {
        font-size: 10px;
        font-weight: 300px;
        padding: 5px;
    }

    /* end of section 4 */

    /* start of section 5 */

    .sec-5 {
        width: 1200px;
        height: 500px;
        margin: 25px auto;
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sec-5-1 {
        padding: 50px 0px 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sec-5-1 button {
        background-color: #ffffff;
        color: #52b035;
        padding: 5px 15px;
        border: 1px solid #52b035;
        cursor: pointer;

        &:hover {
            color: #ffffff;
            background-color: #3e8e41;
            border: 1px solid #3e8e41;
        }
    }

    .sec-5-1 h2 {
        font-weight: normal;
    }

    .sec-5-2-content {
        width: 25%;
    }

    .sec-5-2 {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }

    .sec-5-2-imgs {
        width: 25%;
    }

    .sec-5-stars {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-right: 10px;
    }

    .sec-5-stars p {
        font-size: 12px;
        font-weight: normal;
        cursor: pointer;
    }

    .fa-star {
        color: #fa9747;
    }

    .sec-5-2-imgs {
        position: relative;
        width: 280px;
        height: 150px;
        margin: 10px;
    }

    .sec-5-topic-img {
        width: 280px;
        height: 150px;
        position: absolute;
        z-index: -1;
    }

    .sec-5-acc-img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        border: 1px solid white;
        position: absolute;
        z-index: 1;
        display: flex;
        top: 70%;
        right: 83%;
        cursor: pointer;
    }

    .sec-5-2-content h3 {
        width: 90%;
        margin-right: 10px;
        font-size: 14px;
        font-weight: normal;

        &:hover {
            color: #52b035;
            cursor: pointer;
        }
    }

    .sec-5-2-content p {
        font-size: 12px;
        font-weight: normal;
        margin-right: 10px;
    }

    .sec-5-2-content span {
        font-size: 12px;
        font-weight: bold;
    }

    /* end of section 5 */

    /* start of section 6 */
    .sec-6 {
        background-color: #f1f1f1;
        padding: 40px 0px;
        text-align: center;
        width: 100%;
    }

    .sec-6-1 h2 {
        font-size: 24px;
        margin: 15px 0px;
    }

    .sec-6-content {
        width: 1200px;
        margin: 40px auto;
    }

    .sec-6-2 {
        width: 95%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .sec-6-2 h3 {
        font-size: 15px;
        margin: 5px;
        background-color: #fff;
        padding: 5px;
        cursor: pointer;
    }


    /* end of section 6 */

    /* start of section 7 */
    .sec-7 {
        padding-top: 4rem;
        width: 50%;
        margin: 20px auto 100px auto;
        width: 1200px;
        min-height: 400px;
    }

    .sec-7-content {
        margin: auto;
        width: 1000px;
    }

    .sec-7 h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        padding: 20px;
    }

    details {
        border-bottom: 1px solid black;
    }

    details[open] summary~* {
        animation: open 0.3s ease-in-out;
    }


    @keyframes open {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    details summary::-webkit-details-marker {
        display: none;
    }

    details summary {
        width: 100%;
        padding: 1rem 0;
        position: relative;
        cursor: pointer;
        font-size: 1.25rem;
        font-weight: 300;
        list-style: none;
        outline: 0;
    }

    details summary:after {
        content: ">";
        transform: rotate(270deg);
        color: black;
        position: absolute;
        font-size: 1.75rem;
        line-height: 0;
        margin-top: 0.75rem;
        left: 0;
        font-weight: 200;
        transform-origin: center;
        transition: 200ms linear;
    }

    details[open] summary {
        color: #579c43;
        /* تغيير لون النص عند فتح التفاصيل */
    }

    details[open] summary:after {
        transform: rotate(90deg);
        font-size: 2rem;
    }

    details p {
        font-size: 0.95rem;
        margin: 0 0 1rem;
        padding-top: 1rem;
    }



    /* end of section 7 */

    /* start of section 8 */
    .sec-8 {
        width: 100%;
        height: 260px;
        background-color: #444;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sec-8-content {
        width: 1000px;
        text-align: center;
    }

    .sec-8-content h2 {
        margin: 30px;
    }

    .sec-8-content p {
        font-size: 1.5rem;
        border: 1px solid #3e8e41;
        background-color: #3e8e41;
        width: 15%;
        padding: 4px 3px;
        margin: auto;

        &:hover {
            background-color: #5c9c5e;
            cursor: pointer;
        }
    }

    /* end of section 8 */

    /* start of section 9 */
    .sec-9 {
        width: 100%;
        height: 350px;
        margin: auto;
        padding: 20px 0px;
    }

    .sec-9-content {
        width: 1100px;
        margin: 40px auto;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .sec-9-content h2 {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .sec-9-content p {
        font-size: 15px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .fa-facebook-f {
        background-color: #3b5998;
        padding: 10px 12px;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

    .fa-x-twitter {
        background-color: #222222;
        padding: 10px 12px;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

    .fa-cc-paypal,
    .fa-cc-mastercard,
    .fa-cc-visa {
        font-size: 40px;
        color: #737373;
        cursor: pointer;
    }

    /* end of section 9 */

    /* start of section 10 */
    .sec-10 {
        width: 100%;
        margin: auto;
        height: 80px;
        background-color: #F1F1F1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sec-10-content {
        margin: 10px auto;
        width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sec-10-1 {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 25px;
    }

    .sec-10-1 p {
        cursor: pointer;
    }

    /* end of section 10 */

    /* start of section 11 */
    .sec-11 {
        width: 100%;
        height: 230px;
        margin: auto;
        background-color: #000;
        color: white;
    }

    .sec-11-content {
        width: 1200px;
        margin: auto;
    }

    .sec-11-1 {
        margin: 0px auto 10px auto;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sec-11-1 img {
        margin: 10px auto;
        padding: 15px 0px 0px 0px;
        width: 150px;
        cursor: pointer;
    }

    .sec-11-2 {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;
    }

    .sec-11-2-txt {
        width: 12%;
        margin: 10px;
    }

    .sec-11-2 h3 {
        font-size: 12px;
        cursor: pointer;
    }

    .sec-11-2 p {
        font-size: 9px;
        color: #888888;
        cursor: pointer;
    }

    /* end of section 11 */
}